


article {
    max-width: 600px;
    font-width: normal;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

p {
    line-height: 1.8;
}

code {
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 0 2px;
}

h1 {
    font-size: 40px;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

main {
    display: flex;
    flex-direction: column;
}
code{
    margin:0 3px;
    padding:2px 5px;
    border-radius: 3px;
}